<style type="text/css">
<!--
body,td,form,input,option,select,textare,p,ol{font-family:·s²Ó©úÅé,Arial;font-size:9pt;line-height:1.2};
A:link {color:#9EF18D; text-decoration: none}
A:visited {color:#9EF18D; text-decoration: none}
A:hover {color:#EFBD10; text-decoration: underline}
.tool{font-size:9pt;Color:#999900};
.maintool{font-size:9pt;Color:#3366ff};
.mainword{font-size:8pt;Color:#cccc00;font-family:Arial};
.whiteword{font-size:9pt;Color:White};
.greenword{font-size:9pt;Color:#336600};
.redword{font-size:9pt;Color:#ff6666};
.blueword{font-size:9pt;Color:#6633cc};
.pword{font-size:9pt;Color:Fuchsia};
.gword{font-size:9pt;Color:#999999};
img{line-height:180%};
-->
</style>